<div class="container-triangle">
  <div class="triangle"></div>
</div>

<div class="title">
  <h2>Soluciones efectivas y adaptables</h2>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
</div>

<section class="products">
  <div class="frame">
    <div class="container">
      <img class="meerkat" src="/assets/img/icons/loatech-icon-meerkat.svg" alt="Meerkat®" />
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
      </p>
      <p class="proof one">Pruebe Meerkat® por 30 días.</p>

      <img class="rhinoceros" src="/assets/img/icons/loatech-icon-arkana.svg" alt="Rhinoceros" />
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
      </p>
      <p class="proof two">Pruebe Meerkat® por 30 días.</p>
      <div class="link">
        <a class="link-1" href="#">Envienos un mail</a>
        <a class="link-2" href="#"
          ><img src="/assets/img/icons/loatech-icon-camera.svg" alt="Camera" class="camera" /> Agenda una cita
        </a>
      </div>
    </div>
  </div>

  <div class="background"></div>
</section>
