<div class="clients">
  <div class="container">
    <div class="text">
      <h2>Ayudamos a nuestros aliados</h2>
      <p>
        Respetamos nuestra palabra, nos gustan las relaciones transparentes cimentadas en la confianza mutua y la
        lealtad.
      </p>
    </div>
    <div id="carousel">
      <!-- <carousel
        [images]="customerLogo"
        [loop]="true"
        [autoplay]="true"
        [autoplayInterval]="5000"
        [cellsToShow]="cellsNumber"
        [transitionDuration]="2000"
        [pauseOnHover]="true"
        [arrowsOutside]="true"
        [arrows]="showArrows"
        [objectFit]="'contain'"
        [cellWidth]="imgSize"
        [height]="100"
      >
      </carousel> -->
    </div>
  </div>
</div>
