<div class="container-triangle">
  <div class="triangle"></div>
</div>
<section class="about">
  <div class="text">
    <h2>Líderes en desarrollo</h2>
    <p>
      Somos comprensivos y empáticos, nos interesa ayudar a nuestros clientes a resolver sus desafíos tecnológicos y
      contribuir a que sus organizaciones sigan creciendo; somos optimistas y adaptables, evolucionamos con cada nuevo
      reto, ofreciendo al mercado soluciones innovadoras y eficientes que contribuyan a una industria cada vez más justa
      y competitiva.
    </p>
    <div class="links">
      <div class="mail">
        <a href="#">Envienos un mail</a>
      </div>
      <div class="appointment">
        <a href="#">
          <img src="/assets/img/icons/loatech-icon-camera.svg" alt="Camera" class="camera" />
          Agende una cita</a
        >
      </div>
    </div>
  </div>
  <div class="background"></div>
</section>
