<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="left-column">
        <div class="loatech-logo">
          <a href="#" class="logo"><img src="/assets/img/icons/loatech-icon-negativo-fc.svg" alt="Loatech" /></a>
        </div>
        <ul class="navigation">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Producto</a></li>
          <li><a href="#">Servicio</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
        <div class="information">
          <p>Loatech.co</p>
          <p>contacto@loatech.co</p>
          <p>+57 321 456 7789</p>
        </div>
      </div>
      <div class="right-column">
        <div class="logo-microsoft">
          <img src="/assets/img/icons/loatech-icon-microsoft.svg" alt="Microsoft" />
        </div>
        <div class="copyright">
          <h3>©2021 Loatech. Todos los derechos reservados</h3>
        </div>
      </div>
    </div>
  </div>
</footer>
