<div class="home">
  <div class="container">
    <div class="presentation-container">
      <div class="title-container">
        <h1 class="title">Descubra un <br />Ecosistema digital</h1>
      </div>
      <div class="text-container">
        <p class="text">
          Explore soluciones tecnológicas innovadoras y eficientes que contribuyen a una industria cada vez más justa y
          competitiva
        </p>
      </div>
      <div class="slide-container">
        <h4>Idioma:</h4>
        <label>
          <h4>ES</h4>
          <mat-slide-toggle (change)="changeLanguage($event.checked)"></mat-slide-toggle>
          <h4>EN</h4>
        </label>
      </div>
    </div>
    <div class="microsoft-container">
      <div class="microsoft">
        <img class="logo-microsoft" src="/assets/img/icons/loatech-icon-microsoft.svg" alt="microsoft" />
      </div>
    </div>
    <div class="arrow-container">
      <div class="arrow">
        <a href="#description"><img class="down" src="/assets/img/icons/loatech-icon-down.svg" alt="Down" /></a>
      </div>
    </div>
    <div class="social-container">
      <div class="social">
        <div class="linkedin">
          <a href="#"><img src="/assets/img/icons/loatech-icon-linkedin.svg" alt="Linkedin" /></a>
        </div>
        <div class="whatsapp">
          <a href="#"><img src="/assets/img/icons/loatech-icon-whatsapp.svg" alt="whatsapp" /></a>
        </div>

        <div class="mail">
          <a href="#"><img src="/assets/img/icons/loatech-icon-mail.svg" alt="Mail" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
