@media (min-width: 1025px) {
  .title {
    padding: 10.5% 15% 5% 15%;
  }

  .products {
    padding: 0% 0% 0% 15%;
    .frame {

      .container {

        .rhinoceros  {
          margin-top: 13%;
        }
      }
    }
  }
}
