<section class="services" id="services">
  <div class="text">
    <h2>Un aliado estratégico para su empresa</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
  </div>

  <div class="container">
    <div class="item 0">
      <mat-card class="example-card">
        <div class="container-circle">
          <div class="semi-circle">
            <div class="arrow">
              <img src="/assets/img/icons/loatech-icon-arrow.svg" alt="Arrow" />
            </div>
          </div>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="/assets/img/icons/loatech-icon-developement.svg" alt="Developement" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <h1>Software development</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="item 1">
      <mat-card class="example-card">
        <div class="container-circle">
          <div class="semi-circle">
            <div class="arrow">
              <img src="/assets/img/icons/loatech-icon-arrow.svg" alt="Arrow" />
            </div>
          </div>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img class="cell" src="/assets/img/icons/loatech-icon-cell.svg" alt="Cell" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <h1>Mobile development</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="item 2">
      <mat-card class="example-card">
        <div class="container-circle">
          <div class="semi-circle">
            <div class="arrow">
              <img src="/assets/img/icons/loatech-icon-arrow.svg" alt="Arrow" />
            </div>
          </div>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="/assets/img/icons/loatech-icon-cloud.svg" alt="Cloud" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <h1>Cloud Migrations</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="item 3">
      <mat-card class="example-card">
        <div class="container-circle">
          <div class="semi-circle">
            <div class="arrow">
              <img src="/assets/img/icons/loatech-icon-arrow.svg" alt="Arrow" />
            </div>
          </div>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="/assets/img/icons/loatech-icon-glass.svg" alt="Glass" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <h1>Product conceptualization</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="item 4">
      <mat-card class="example-card">
        <div class="container-circle">
          <div class="semi-circle">
            <div class="arrow">
              <img src="/assets/img/icons/loatech-icon-arrow.svg" alt="Arrow" />
            </div>
          </div>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="/assets/img/icons/loatech-icon-consultancy.svg" alt="Consultancy" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <h1>Consultancy</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="item 5">
      <mat-card class="example-card">
        <div class="container-circle">
          <div class="semi-circle">
            <div class="arrow">
              <img src="/assets/img/icons/loatech-icon-arrow.svg" alt="Arrow" />
            </div>
          </div>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="/assets/img/icons/loatech-icon-flag.svg" alt="flag" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <h1>Project Management</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="item 6">
      <mat-card class="example-card">
        <div class="container-circle">
          <div class="semi-circle">
            <div class="arrow">
              <img src="/assets/img/icons/loatech-icon-arrow.svg" alt="Arrow" />
            </div>
          </div>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="/assets/img/icons/loatech-icon-branding.svg" alt="branding" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <h1>Branding</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="item special">
      <mat-card class="example-card">
        <mat-card-content class="content-special">
          <h1>¿Tiene un proyecto de software diferente?</h1>
          <p class="text">Escríbanos un mail o agende una
            cita, le ayudaremos a encontrar
            una solución eficiente a su
            problema.</p>
        </mat-card-content>
        <mat-card-actions class="talk-container">
          <button mat-button class="talk">Hablemos de su proyecto</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>

