@media (max-width: 768px) {
  .services {
    .container {
      .item {
        height: 40%;
        width: 40%;
      }

      mat-card-content {
        h1 {
          font-size: 1.3em !important;
        }

        p {
          font-size: 1em !important;
        }
      }
    }
  }
}
