@media (min-width: 1025px) {
  .about {
    .text {
      width: 50%;
      padding: 10% 5% 10% 15%;

      h2 {
        font-size: 2em;
      }

      p {
        font-size: 1em;
        line-height: 1.3em;
      }

      .links {
        margin-top: 10%;

        .mail {
          width: 32%;
        }

        a {
          font-size: 0.9em;
        }

        .appointment {
          width: 40%;
        }
      }
    }
  }
}
